{% extends 'base.html' %}

{% block content %}


<div class="container">
    <h1>Join courses by subject</h1>
    
    {% for object in object_list %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ object.thumbnail.url  }}" alt="Card image cap">
            <div class="card-body">
                <h3>{{ object.subject }}</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    {% endfor %}

 
</div>
{% endblock content %}